#topPage{
    animation: flying 1s ease forwards;
    position: relative;
    height: 20vw;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

@keyframes flying {
    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

#campusPic{
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

#headerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flyingUp 1s ease forwards;
    position: relative;
    transform: translateY(34%);
    -webkit-transform: translateY(34%);
    height: 10vw;
}

@keyframes flyingUp {
    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

.subtitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vw;
}

.subtitles h2{
    padding-top: 4vw;
    margin-top: -4vw;
}

.textDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.textDiv p{
    width: 75vw;
    font-family: 'Lucida Handwriting', cursive;
    padding-top: 2vh;
    font-size: 3vh;
    text-align: center;
}

.textDiv p:nth-child(2) {
    padding-bottom: 4vh;
}

.articlesContainerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articlesDiv{
    display: flex;
    justify-content: center;
}

#articlesByYear{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30vw 30vw 30vw;
    justify-content: center;
}

.articlesDiv article{
    width: 25vw;
    padding:0.5vw;
    margin: 0.5vw;
    border: 0.5px black solid;
}

.articlesDiv article h3,
#picGrid h3{
    margin:0;
    height: 10vh;
    border-bottom: 0.5px solid darkgray;
    text-align: justify;
    text-justify: inter-word;
}

#picGrid h3{
    text-align: left;
}

.year{
    color:blue;
    margin-right: 1vw;
}

.articlesDiv article p, #picGrid article p{
    font-size: 2vh;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.75vw;
    padding-bottom: 1vw;
    margin: 0.5vw;
}

#picGrid
{
    padding-top: 1.75vw;
    display: grid;
    grid-template-rows: 15vw 15vw;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    justify-content: center;
}

#picGrid article{
    height:14vw;
    width: 20vw;
    padding:0.5vw;
    margin: 0.5vw;
}

#picGrid article img{
    width: auto;
    height: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
}

#background{
    width:100vw;
    height: auto;
    background-image:url("/images/kakoDoNas.jpg") ;
    background-size: 100vw 50vw;
}

#location{
    padding-top: 2vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35vw 35vw;
    justify-content: center;
}

.howToReachUsDiv{
    height: 45vh;
    width: 30vw;
    background-color:whitesmoke;
    border: 0.7px solid black;
    padding: 1.5vw;
    margin: 1vw;
    padding-bottom: 5vw;
}

.howToReachUsDiv article p{
    padding: 1vh 0 1vh;
    display: block;
    margin: 0 8% 0;
    font-size: 2vh;
    color: #232323;
}

.howToReachUsDiv article h4{
    padding-top: 0.25vh;
}

#googleMap{
    overflow:hidden;
    position:relative;
    height:0;
    padding-bottom: 30%;
}

#googleMap iframe{
    top:5%;
    left: 15%;
    height: 55vh;
    width:70vw;
    position:absolute;
}

#rightNavUl{
    visibility: visible;
}


@media only screen and (min-width: 769px) and (max-width: 1200px){
    #rightBar,
    #topPage{
        display:none;
    }

    #headerDiv{
        margin-top: 8vh;
        animation: none;
        margin-bottom:15vh;
    }

    #headerDiv h1{
        width: 70vw;
    }
    
    .subtitles{
        margin-top: 4vh;
    }

    .subtitles h2{
        padding-top: 50vw;
        margin-top: -50vw;
        margin-bottom: 5vh;     
    }

    .articlesContainerDiv{
        align-items: center;
    }
    
    .articlesDiv{
        flex-flow: wrap;
        width: 75vw;
    }

    .articlesDiv article h3,
    #picGrid article h3{
        height: auto;
    }
    
    .articlesDiv article p{
        line-height: 4vh;
        padding: 1vw;
    }
    
    #articlesByYear{
        width: inherit;
        height: auto;
        padding: 0.8vw;
        grid-template-columns: 75vw;
        grid-template-rows: auto;
    }
    
    .articlesDiv article{
        width: inherit;
    }
    
    #picGrid article,
    #location article{
        width: inherit;
        height: auto;
        padding: 0.8vw;
        margin-left: 0;
    }
    
    .howToReachUsDiv{
        width: inherit;
        height: auto;
        margin-bottom: 2vh;
        margin-left: 0;
    }
    
    .howToReachUsDiv article p{
        line-height: 4vh;
        padding: 1vw;
    }
    
    .howToReachUsDiv article h4{
        text-align: left;
    }
    
    #picGrid,
    #location{
        grid-template-columns: 75vw;
        grid-template-rows: auto;
    }
    
    .year {
        margin-right: 0.05vw;
    }
    
    #picGrid article img{
        width: auto;
        height: 15vw;
        padding-top: 1vw; 
    }

    #googleMap{
        padding-bottom: 60%;
    }
    
    #googleMap iframe{
        left: 12.4vw;
        height: 50vw;
        width: 75vw;
    }
}


@media only screen and (max-width: 768px){
    h2{
        font-size: 5vw;
    }

    h3,
    h4{
        font-size: 3vw;
    }

    #topPage{
        display: none;
    }

    #headerDiv{
        animation: none;
        height: 15vh;
    }

    .subtitles{
        padding-top: 10vh;
        margin-bottom: 4vh;
    }

    .articlesContainerDiv{
        align-items: center;
    }

    .articlesDiv{
        flex-flow: wrap;
        width: 85vw;
    }

    #articlesByYear{
        width: inherit;
        flex-wrap: wrap;
        height: auto;
        padding: 1vh;
        grid-template-columns: 90vw;
        grid-template-rows: auto;
    }

    .articlesDiv article{
        width: inherit;
    }

    #picGrid article,
    #location article{
        width: inherit;
        height: auto;
        padding: 0.8vw;
        margin-left: 0;
    }

    .howToReachUsDiv{
        width: inherit;
        height: auto;
        margin-bottom: 2vh;
        margin-left: 0;
    }

    .howToReachUsDiv article p,
    .articlesDiv article p{
        line-height: 4vh;
        padding: 1vw;
    }

    .howToReachUsDiv article h4{
        text-align: left;
    }

    .articlesDiv article h3,
    #picGrid article h3{
        height: auto;
    }

    #picGrid,
    #location{
        grid-template-columns: 90vw;
        grid-template-rows: auto;
    }

    .year{
        margin-right: 0.05vw;
    }
    
    #picGrid article img{
        width: auto;
        height: 15vw;
        padding-top: 1vw; 
    }

    #googleMap{
        padding-bottom: 60%;
    }

    #googleMap iframe{
        left: 5vw;
        height: 50vw;
        width: 90vw;
    }
}