#autocompleteSearch{
    width: 30vw;
    padding: 0.25vw;
    box-shadow: 0px 0px 0.5vw 0.15vw magenta;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

#searchDiv{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50vw 50vw;
    justify-content: center;
    height: auto;
    padding-bottom: 20vh;
    padding-top: 6vh;
}

#search{
    width: 33vw;
    margin-left: 10vw
}

#tblSubjects{
    width: 45vw;
    border-collapse: collapse;
}

#tblSubjects td{
    width: 15vw;
}

#tblHead{
    text-transform: capitalize;
    text-align: left;
}

#tblBody tr{
    height: 8vh;
}

#btnRemove{
    background-color: red;
    border: none;
    border-radius: 15%;
    font-size: 0.8vw;
    color:white;
    padding: 0.5vw 0.5vw;
    height: 2vw;
    cursor: pointer;
}

#tblBody tr:nth-child(even){
    background-color: darkorange;
}

#tblBody tr:nth-child(odd){
    background-color:magenta;
}

#total{
    border-top: white 2px solid;
    font-weight: 900;
}

#total tr td:nth-child(2), #total tr td:nth-child(3){
    color: red;
}


@media only screen and (min-width: 769px) and (max-width: 1200px){
    #searchDiv{
        grid-template-rows: auto;
        grid-template-columns: 75vw;
        justify-content: center;
        height: auto;
        padding-top: 15vh;
    }

    #search{
        width: auto;
        margin-left: 0;
    }

    #autocompleteSearch,
    #tblSubjects{
        width: 75vw;
        margin-top: 4vh;
    }

    #tblBody{
        height: 9vh;
    }

    #btnRemove{
        border-radius: 15%;
        font-size: 2vh;
        height: 6vh;
    }
}


@media only screen and (max-width: 768px) {
    #searchDiv{
        grid-template-rows: auto;
        grid-template-columns: 90vw;
        justify-content: center;
        height: auto;
        padding-top: 15vh;
    }

    #search{
        width: auto;
        margin-left: 0;
    }

    #autocompleteSearch,
    #tblSubjects{
        width: 90vw;
        margin-top: 2vh;
    }

    #tblBody{
        font-size: 2vh;
    }

    #btnRemove{
        border-radius: 15%;
        font-size: 2vh;
        height: 5vh;
        width: auto;
    }
}