#footer{
    background-image: url("/images/zaiskri-bg.jpg");
    width: 100vw;
    height:auto;
    background-size: 100vw auto;
}

#footer div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    padding-top: 4vw;
}

#footer div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
}

#footer div:nth-of-type(1) p{
    font-size: 2.75vw;
    color: white;
}

#footer div:nth-of-type(2) p{
    font-size: 2.75vw;
    font-weight: 900;
    color: magenta;
    text-shadow: 0 0 2vw white;
    padding-top: 2vw;
}


@media only screen and (max-width: 768px) {
    #footer{
    height: 40vh;
    width: 100vw;
    background-size: auto 40vh;
    }

    #footer div:nth-of-type(1){
        height: 14vh;
        margin: 2vw;
    }

    #footer div:nth-of-type(2){
        height: 9vh;
    }

    #footer div:nth-of-type(2) p{
        font-size: 5vh;
    }

    #footer div:nth-of-type(1) p{
        font-size: 4vh;
        text-align: center;
    }
}