body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
}

#background,
#foot_placeholder{
    display: none;
}

#myVideoDiv{
    position: relative;
    text-align: center;
}

#myVideo{
    width: 100vw;
    top: 50%;
    left: 50%;
}

#anim,
#anim2{
    width: 60vw;
}

#text1,
#text2,
#text3{
	display: inline-block;
	letter-spacing: 2px;
    font-size: 5vw;
}

#text1,
#text2{
	color: whitesmoke;
    text-shadow: 0 0  1vw black;
}

#text3{
	color: red;
    font-weight: 900;
    text-shadow: 0 0  1vw darkred;
}

#cursor1, 
#cursor2{
	display: inline-block;
	width: 1vw;
	height: 8vh;
	background-color: whitesmoke;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: whitesmoke; 
	}
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    body{
        background-color: black;
    }

    #myVideo {
        height: 100vh;
    }
}


@media only screen and (max-width: 768px) {
    #navDiv,
    #myVideoDiv,
    #anim,
    #anim1{
        display: none;
    }
    
    #background{
        display: flex;
        flex-direction: column;
        padding-top: 8vh;
    }

    #background img{
        width: 100vw;
        height: 100%;
        object-fit: fill;
    }

    #foot_placeholder{
        display:block;
        position:fixed;
        bottom: 0;
        width: 100vw;
    }
}