/* ima i u curriculum.css */
#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flyingUp 1s ease forwards;
    position:relative;
    transform:translateY(34%);
    -webkit-transform: translateY(34%);
    height: 13vw;
}

/* ima i u curriculum.css */
@keyframes flyingUp {
    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

/* ima i u curriculum.css */
#mainDiv h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.75vw;
    border-bottom: darkorange 0.15vw solid;
    padding: 1.5vw;
    width: 39vw;
}

#picsDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33vw 33vw 33vw;
    justify-content: center;
    width: 100vw;
    background-color: whitesmoke; 
}

@keyframes appear {
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

#picsDiv div{
    width: 32vw;
    height: auto;
    overflow: hidden;
    padding-top: 3vw;
    padding-bottom: 3.9vw;
    position: relative;
    animation: appear 0.75s ease forwards;
    animation-fill-mode: forwards;
    opacity:0;
    transform:scale(0);
    filter:blur(4px);
}

.pic {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: solid 1.7vw white;
    box-shadow: 0 0 30px 0.75vw grey;
    cursor:pointer;
}

h2{
    font-size: 1.25vw;
    width: 15vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1vw;
    color:yellow;
    text-align: center;
    cursor:pointer;
}

h3{
    font-size: 1.25vw;
    width: 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1vw;
    text-align: center;
    cursor:pointer;
}

#picsDiv div:hover h2,#picsDiv div:hover h3{
    font-size: 1.35vw; 
}

#rightNavUl{
    visibility: hidden;
}


@media only screen and (max-width: 768px) {
    #mainDiv{
        display: none;
    }

    #picsDiv
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:20vh;
    }

    #picsDiv div{
        width: auto;
    }

    .pic{
        display: block;
        height: auto;
        width: 80%;
    }

    h2{
        font-size: 3vh;
        width: auto;
        top: 30%;
    }

    h3{
        font-size: 2vh;
        width: auto;
        top: 60%;
        left: 50%;
    }

    #foot_placeholder{
        display: none;
    }

    #rightNavUl{
        visibility: hidden;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
    #mainDiv{
     display: none;
    }

    #picsDiv
    {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100vw;
    }

    #picsDiv div{
        width: auto;
    }

    .pic{
        display: block;
        height: auto;
        width: 80%;
    }

    h2{
        font-size: 5vh;
        width: auto;
        top: 30%;
    }

    h3{
        font-size: 3vh;
        width: auto;
        top: 60%;
        left: 50%;
    }

    #foot_placeholder{
        display: none;
    }
    
    #rightNavUl{
        visibility: hidden;
    }
}