#videoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
    padding-top: 2vw;
}

#galDiv{
    display: grid;
    flex-direction: column;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 20vw 20vw;
    padding-top: 3vw;
}

.small{
    width: 20vw;
}

#worldSkillsVideo{
    width: 40vw;
    height: auto;
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
    #galDiv{
    grid-template-columns: 40vw 40vw;
    padding-top: 3vw;
    }
    
    .small{
    width: 40vw;
    height: auto;
    }
    
    #worldSkillsVideo{
    width: 60vw;
    height: auto;
    }
}

@media only screen and (max-width: 768px){
    #galDiv{
        grid-template-columns: 45vw 45vw;
    }

    .small{
        width:45vw;
    }

    #worldSkillsVideo{
        width: 70vw;
        height: auto;
    }
}